
        body { font-family: 'Poppins', sans-serif; }
        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #ffffff;
            padding: 30px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            z-index: 1000;
            width: 350px;
            text-align: center;
            animation: fadeIn 0.3s ease-in-out;
        }
        .overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            z-index: 999;
        }
        .popup h2 {
            font-size: 22px;
            margin-bottom: 15px;
            color: #333;
        }
        .popup input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }
        .popup button {
            margin-top: 10px;
            padding: 12px;
            width: 100%;
            border: none;
            background: black;
            color: white;
            font-size: 14px;
            cursor: pointer;
            border-radius: 5px;
            transition: 0.3s;
        }
        .popup button:hover {
            background: #444;
        }
        .switch-link {
            margin-top: 15px;
            display: block;
            color: black;
            cursor: pointer;
            text-decoration: underline;
            font-size: 14px;
        }
        .close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 18px;
            cursor: pointer;
            color: #333;
        }
        .popup img {
            width: 150px;
            margin-bottom: 15px;
        }
        .login-btn {
            background: black;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            transition: 0.3s;
            position: relative;
            right: 40px;
            left: 50px;
        }
        .login-btn:hover {
            background: #696969;
            color: black;
        }
        @keyframes fadeIn {
            from { opacity: 0; transform: translate(-50%, -55%); }
            to { opacity: 1; transform: translate(-50%, -50%); }
        }
